*{
    padding: 0;
    margin: 0;
}
.header-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: bisque;
}
.header-info{
    margin-left: 70px;
}
.header-title{
    font-size: 45px;
    margin-bottom: 10px;
}
.btn{
    margin-top: 15px;
    width: 110px;
    height: 40px;
    background-color: red;
    color: white;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
img{
    width: 530px;
}
/* featured-section style */

.featured-section{
    text-align: center;
    margin: 80px 330px;
}
.featured-title{
    font-size: 35px;
}
.featured-description{
    padding: 10px 0;
    font-size: 15px;
}
.featured-img-section{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.img{
    border-radius: 150px 150px 0px 0px ;
    width: 180px;
}
.img-1{
    background-color: #e5c8ff;
    padding: 40px 30px 0px ;
}

.img-2{
    background-color: #fcc3e8;
    padding: 78px 30px 30px 30px ;
}

.img-3{
    background-color: #a0a599;
    padding: 17px 30px 0px ;
}
.featured-img p{
    padding: 20px;
    font-size: 18px;text-decoration: underline;
    font-weight: bold;
}

/* hot-deal-section style */

.hot-deal-section{
  margin-top: 150px; 
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aquamarine;
  padding: 100px 250px ; 
}
.text-container{
    text-align: center;
}
.text-container h1{
    font-size: 30px;
    padding: 10px;
}
span{
    color: #fb5d5d;
}
.text-container p{
    font-size: 15px;
}
.hot-deal-section img{
    width: 200px;
}

/* selling section style */

.selling-section{
    margin: 80px 270px;
}
.selling-title{
    text-align: center;
    padding: 20px;
    font-size: 35px;
}
.selling-description{
    text-align: center;
    margin-bottom: 20px;
}
.selling-container{
    display: flex;
    justify-content: space-between;
}
.selling-item{
    background-color: aquamarine;
    border-radius: 10px;
}
.selling-item img{
    width: 210px;
    border-radius: 10px 10px 0px 0px ;
}
.selling-item-title{
    padding: 10px  10px 10px;
}
.selling-item .price{
    padding: 0px 0px 20px 10px;
    font-size: 18px;
}

/* instagram-section style */

.instagram-section{
    margin: 80px 270px;
}
.instagram-info{
    text-align: center;
}
.instagram-title{
    font-size: 35px;
}
.instagram-info p{
    margin: 20px;
    font-size: 15px;
}
.instagram-img{
    justify-content: space-between;
    display: flex;
}
.instagram-img img{
    width: 210px;
}

/* latest-deal-section style */

.latest-deal-section{
    margin: 80px 270px;
    background-image: url('images/Rectangle\ 9.png');
}
.latest-deals-section{
    padding: 80px;
    text-align: center;
}
.latest-deals-title{
    font-size: 35px;
    padding: 10px;
}
.latest-deals-description{
    font-size: 15px;
    padding-bottom: 15px;
}
.input{
    width: 350px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 16px;
    background-color: rgb(209, 211, 212);
}

/* footer section style */

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px;
}
footer > p{
    padding: 20px;
    font-size: 15px;
}
.footer-description{
    color: #6f6e6e;
}
